﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Daycare</title>

        <link rel="stylesheet" href="~/dist/please-wait.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    </head>
    <body>
        @RenderBody()

        <div style="display: none">
            <div id="authUserDisplayName">@ViewData["authUserDisplayName"]</div>
            <div id="authUserRole">@ViewData["authUserRole"]</div>
            <div id="authUserFamilyId">@ViewData["authUserFamilyId"]</div>
            <div id="authUserId">@ViewData["authUserId"]</div>
            <div id="authProvider">@ViewData["authProvider"]</div>
            @Html.AntiForgeryToken()
        </div>

        @RenderSection("scripts", required: false)
    </body>
</html>
