﻿<template>
    <require from="../parts/student-item-part"></require>
    <require from="../parts/teacher-item-part"></require>

    <h1>Class: ${class.displayName}</h1>

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Teachers</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item" repeat.for="person of class.teachers">
                    <teacher-item-part item.bind="person" read-only.bind="true"></teacher-item-part>
                </li>
            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Students</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item" repeat.for="person of class.students">
                    <student-item-part item.bind="person" read-only.bind="true" show-link.bind="true"></student-item-part>
                </li>
            </ul>
        </div>
    </div>
</template>