﻿<template>
    <require from="./classes-page.css"></require>
    <require from="../parts/class-item-part"></require>
    <require from="../parts/loading-part"></require>

    <div class="container-fluid classes-page">
        <h1>
            Classes
            <div class="create-button" show.bind="user.isAdmin">
                <button class="btn btn-primary" click.delegate="launchCreateClassDialog()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    &nbsp;&nbsp;New Class
                </button>
            </div>
        </h1>

        <loading-part if.bind="!loaded"></loading-part>

        <ul class="list-group" if.bind="editable.items.length === 0">
            <li class="list-group-item">
                None
            </li>
        </ul>
        <div repeat.for="class of editable.items" class="class-item">
            <class-item-part read-only.bind="!user.isAdmin" item.bind="class" on-deleted.call="editable.deleted(item)"></class-item-part>
        </div>
    </div>
    <div ref="dialogHost"></div>
</template>