<template>
    <require from="./families-page.css"></require>
    <require from="../parts/student-item-part"></require>
    <require from="../parts/parent-item-part"></require>
    <require from="../parts/loading-part"></require>

    <div class="container-fluid families-page">
        <div>
            Group By:
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default ${groupBy === 'family' ? 'active' : ''}" click.trigger="setGroupBy('family')">
                    Family Name
                </button>
                <button type="button" class="btn btn-default ${groupBy === 'children' ? 'active' : ''}" click.trigger="setGroupBy('children')">
                    Students
                </button>
                <button type="button" class="btn btn-default ${groupBy === 'parents' ? 'active' : ''}" click.trigger="setGroupBy('parents')">
                    Care Takers
                </button>
            </div>
        </div>
        <loading-part if.bind="!loaded"></loading-part>
        <div show.bind="loaded">
            <div show.bind="groupBy === 'family'">
                <h1>
                    Families
                    <div class=" create-button" show.bind="user.isAdmin">
                        <button class="btn btn-primary " click.delegate="launchCreateFamilyDialog() ">
                            <i class="fa fa-plus " aria-hidden="true "></i>
                            &nbsp;&nbsp;New Family
                        </button>
                    </div>
                </h1>
                <ul class="list-group ">
                    <template repeat.for="family of families ">
                        <li class="list-group-item">
                            <div class="row ">
                                <div class="col-md-3">
                                    <a route-href="route: family; params.bind: { id: family.id } ">
                                        ${family.displayName}
                                    </a>
                                </div>
                                <div class="col-md-7">
                                    <div>
                                        Care Takers:
                                        <span class="label label-danger" if.bind="family.parents.length === 0">None</span>
                                        <span class="label label-default family-member" repeat.for="person of family.parents">
                                            ${person.displayName}
                                        </span>
                                    </div>
                                    <div>
                                        Children:
                                        <span class="label label-danger" if.bind="family.children.length === 0">None</span>
                                        <span class="label label-default family-member" repeat.for="person of family.children">
                                            ${person.displayName}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2 delete-button" show.bind="user.isAdmin">
                                    <button class="btn btn-danger " click.delegate="editable.delete(family) ">
                                        <i class="fa fa-trash-o " aria-hidden="true "></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
            <div show.bind="groupBy === 'children'">
                <h1>
                    Students
                </h1>
                <ul class="list-group ">
                    <template repeat.for="person of children">
                        <li class="list-group-item">
                            <student-item-part item.bind="person" read-only.bind="true" show-parents.bind="true" show-link.bind="true"></student-item-part>
                        </li>
                    </template>
                </ul>
            </div>
            <div show.bind="groupBy === 'parents'">
                <h1>
                    Care Takers
                </h1>
                <ul class="list-group ">
                    <template repeat.for="person of parents">
                        <li class="list-group-item">
                            <parent-item-part item.bind="person" read-only.bind="true" show-children.bind="true" show-link.bind="true"></parent-item-part>
                        </li>
                    </template>
                </ul>
            </div>
        </div>

        <div ref="dialogHost "></div>
</template>