.families-page {
    margin-top: 25px;
}

.families-page .create-button {
   float: right;
}

.families-page .delete-button {
    text-align: right;
}

.families-page .family-member {
    margin-right: 5px;
}