<template>
    <h3>Daycare Project</h3>
    <p>
        Web Application that models a daycare or small school, including classes, teachers, students, their families.
    </p>
    <p>
        Features:
        <ul>
            <li>Integrated authentication with Google.</li>
            <li>School administrators can create students and assign them to classes.</li>
            <li>Parents can see other students enrolled in their child's class.</li>
            <li>Parents can contact parents of other students via email through the application (email addresses are not revealed).</li>
        </ul>
    </p>

    Download the source code at:
    <a href="https://bitbucket.org/farmas/daycare">
        <i class="fa fa-bitbucket" aria-hidden="true"></i>
        https://bitbucket.org/farmas/daycare
    </a>
</template>