<template>
    <require from="./teachers-page.css"></require>
    <require from="../parts/teacher-item-part"></require>
    <require from="../parts/loading-part"></require>

    <div class="container-fluid teachers-page">
        <h1>
            Teachers
            <div class="create-button" show.bind="user.isAdmin">
                <button class="btn btn-primary" click.delegate="launchCreateTeacherDialog()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    &nbsp;&nbsp;New Teacher
                </button>
            </div>
        </h1>

        <loading-part if.bind="!loaded"></loading-part>

        <ul class="list-group">
            <li class="list-group-item" if.bind="editable.items.length === 0">
                None
            </li>
            <li class="list-group-item" repeat.for="teacher of editable.items">
                <teacher-item-part read-only.bind="!user.isAdmin" item.bind="teacher" show-bio.bind="true" on-deleted.call="editable.deleted(item)"></teacher-item-part>
            </li>
        </ul>
    </div>
</template>