<template>
    <div class="container-fluid" style="text-align: center; margin-top: 50px;">
        <h1>
            <p>
                Your account has not been authorized.
            </p>
            <p>
                Please contact the administrator.
            </p>
            <i class="fa fa-lock" aria-hidden="true"></i>
        </h1>
    </div>
</template>