<template>
    <require from="./app.css"></require>
    <require from="./common.css"></require>
    <require from="./parts/nav-bar"></require>

    <nav-bar router.bind="router"></nav-bar>
    <div class="container app-content">
        <router-view></router-view>
    </div>
</template>