@{
    ViewData["Title"] = "Daycare";
}

<div aurelia-app="boot"></div>

@section scripts {
    <script type="text/javascript" src="~/dist/please-wait.min.js" asp-append-version="true"></script>

    <script>
        @if(ViewData.ContainsKey("showSplashScreen")) {
            <text>
            window.loading_screen = window.pleaseWait({
                backgroundColor: '#337ab7',
                loadingHtml: `
                    <div style="color: white;">
                        <h2>Loading</h2>
                        <i class="fa fa-spinner fa-5x fa-spin" aria-hidden="true"></i>
                    </div>`
            });
            </text>
        }
    </script>

    <script type="text/javascript" src="~/dist/vendor.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true"></script>
}
