.class-item-part .btn-right {
    float: right;
    margin-left: 5px;
}

.class-item-part .edit-buttons {
    text-align: right;
}

.class-item-part .panel-subtitle {
    background-color: inherit;
}

.class-item-part .description {
    overflow: hidden;
    background-color: inherit;
    border: none;
    font-family: inherit;
}