<template>
    <require from="./class-members-part.css"></require>
    <div class="panel panel-default class-members-part">
        <div class="panel-heading panel-subtitle">
            <button class="btn btn-right-center" click.delegate="launchDialog()" show.bind="!readOnly">
                <i class="fa fa-users" aria-hidden="true"></i>
                &nbsp;&nbsp;Add/Remove
            </button>
            <h4>${title}</h4>
        </div>
        <div class="panel-body">
            <ul class="list">
                <li if.bind="members.length === 0">None</li>
                <li repeat.for="person of members">
                    <a if.bind="person.role !== 'teacher'" route-href="route: family; params.bind: { id: person.familyId }">${person.displayName}</a>
                    <span if.bind="person.role === 'teacher'">${person.displayName}</span>
                </li>
            </ul>
        </div>
    </div>
    <div ref="dialogHost"></div>
</template>