.class-members-part .btn-right-center {
   float: right;
}

.class-members-part .list {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    list-style: none;
 }


.class-members-part .panel-subtitle {
    background-color: inherit;
}