﻿<template>
    <require from="../parts/class-members-part"></require>
    <require from="./class-item-part.css"></require>
    <div class="class-item-part">
        <div class="panel panel-default" show.bind="!editable.isEditMode">
            <div class="panel-heading">
                <div show.bind="!readOnly">
                    <button if.bind="!isEditOnly" class="btn btn-danger btn-right" click.delegate="editable.delete()">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-right" disabled.bind="!editable.isIdle" click.delegate="editable.enterEditMode()">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </div>
                <h4>
                    <a route-href="route: class; params.bind: { id: item.id }">
                        ${item.displayName}
                    </a>
                </h4>
            </div>
            <div class="panel-body">
                <p class="paragrap">
                    <pre if.bind="item.description" class="description">${item.description}</pre>
                </p>
                <div if.bind="!isEditOnly">
                    <div class="row">
                        <div class="col-md-7">
                            <class-members-part title="Students" item.bind="item" read-only.bind="readOnly"></class-members-part>
                        </div>
                        <div class="col-md-5">
                            <class-members-part title="Teachers" item.bind="item" read-only.bind="readOnly" role="teacher"></class-members-part>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" show.bind="editable.isEditMode">
            <div class="panel-heading">
                <div class="form-group">
                    <div validation-errors.bind="displayNameErrors" class.bind="displayNameErrors.length ? 'has-error' : ''">
                        <input type="text" placeholder="Display Name" class="form-control" value.bind="item.displayName & validate" />
                        <span class="help-block" repeat.for="errorInfo of displayNameErrors">
                            ${errorInfo.error.message}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <textarea placeholder="Description" class="form-control" value.bind="item.description" rows="5"></textarea>
                </div>
                <div class="form-group edit-buttons">
                    <button class="btn" disabled.bind="!editable.isIdle" click.delegate="editable.cancelEditMode()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        &nbsp;&nbsp;Cancel
                    </button>
                    <button class="btn btn-primary" disabled.bind="!editable.canSave || !editable.isIdle" click.delegate="editable.save()">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        &nbsp;&nbsp;${buttonText}
                    </button>
                </div>
            </div>

        </div>
    </div>
</template>