<template>
    <require from="./family-item-part.css"></require>
    <require from="./students-list-part"></require>
    <require from="./parents-list-part"></require>
    <require from="./loading-part"></require>

    <div class="family-item-part">
        <div class="container-fluid" if.bind="!loaded">
            <loading-part></loading-part>
        </div>

        <div class="container-fluid" if.bind="loaded">
            <div show.bind="!editable.isEditMode">
                <button class="btn btn-right" disabled.bind="!editable.isIdle" click.delegate="editable.enterEditMode()" show.bind="!readOnly">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <h1>Family: ${item.displayName}</h1>
            </div>

            <div class="title-edit" show.bind="editable.isEditMode">
                <div class="form-group">
                    <div validation-errors.bind="displayNameErrors" class.bind="displayNameErrors.length ? 'has-error' : ''">
                        <label>Display Name:</label>
                        <input type="text" placeholder="Display Name" class="form-control" value.bind="item.displayName & validate" />
                        <span class="help-block" repeat.for="errorInfo of displayNameErrors">
                            ${errorInfo.error.message}
                        </span>
                    </div>
                </div>
                <div class="form-group edit-buttons">
                    <button class="btn" disabled.bind="!editable.isIdle" click.delegate="editable.cancelEditMode()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        &nbsp;&nbsp;Cancel
                    </button>
                    <button class="btn btn-primary" disabled.bind="!editable.canSave || !editable.isIdle" click.delegate="editable.save()">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        &nbsp;&nbsp;${buttonText}
                    </button>
                </div>
            </div>

            <div class="row" show.bind="!editable.isEditMode">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button class="btn btn-primary btn-right" click.delegate="launchCreateChildDialog()" show.bind="!readOnly">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                &nbsp;&nbsp;New
                            </button>
                            <h4>Children</h4>
                        </div>
                        <students-list-part family.bind="item" show-classes.bind="true" read-only.bind="readOnly"></students-list-part>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button class="btn btn-primary btn-right" click.delegate="launchCreateParentDialog()" show.bind="!readOnly">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                &nbsp;&nbsp;New
                            </button>
                            <h4>Care Takers</h4>
                        </div>
                        <parents-list-part family.bind="item" read-only.bind="readOnly"></parents-list-part>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ref="dialogHost"></div>
</template>