<template>
    <div style="text-align: center; margin-top: 50px;" if.bind="showWithThrottle">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
</template>