﻿<template>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Daycare</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li repeat.for="row of router.navigation" class="${ row.isActive ? 'active' : '' }" if.bind="user.isAuthenticated">
                        <a href.bind="row.href">
                            <i class="fa ${row.settings.iconClass}" aria-hidden="true"></i>
                            &nbsp;&nbsp;${row.title}
                        </a>
                    </li>
                    <li if.bind="isLocalAuth">
                        <a href="https://bitbucket.org/farmas/daycare" target="_blank">
                            <i class="fa fa-file-code-o" aria-hidden="true"></i>
                            &nbsp;&nbsp;Source
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-text">${user.displayName} </li>
                    <li>
                        <form action="/auth/SignIn" show.bind="!user.isAuthenticated">
                            <button type="submit" class="btn btn-primary navbar-btn">
                                Sign In&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-google-plus" aria-hidden="true" if.bind="!isLocalAuth"></i>
                                <span if.bind="isLocalAuth">[Test Account]</span>
                            </button>
                        </form>

                        <form action="/auth/SignOut" show.bind="user.isAuthenticated">
                            <button type="submit" class="btn btn-default navbar-btn">
                                Sign Out
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>