<template>
    <require from="./parent-item-part.css"></require>

    <div class="parent-item-part">
        <div class="row" if.bind="!editable.isEditMode">
            <div class="col-md-2">
                <img src="${item.photoUrl}" class="daycare-item-img" />
            </div>
            <div class="col-md-7">
                <div>
                    <a route-href="route: family; params.bind: { id: item.familyId }" if.bind="showLink">
                        <strong>${item.displayName}</strong>
                    </a>
                    <strong if.bind="!showLink">${item.displayName}</strong>
                </div>
                <div show.bind="showChildren">
                    Children:
                    <span class="label label-danger" if.bind="item.children.length === 0">None</span>
                    <span class="label label-default child-label" repeat.for="person of item.children">
                        ${person.displayName}
                    </span>
                </div>
                <div>
                    <button class="btn" click.delegate="LaunchEmailDialog()">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        &nbsp;Contact
                    </button>
                </div>
            </div>
            <div class="col-md-3 buttons" show.bind="!readOnly">
                <button class="btn" disabled.bind="!editable.isIdle" click.delegate="editable.enterEditMode()">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button if.bind="allowDelete" class="btn btn-danger" click.delegate="editable.delete()">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="form" show.bind="editable.isEditMode">
            <div class="form-group">
                <div validation-errors.bind="displayNameErrors" class.bind="displayNameErrors.length ? 'has-error' : ''">
                    <label>Name:</label>
                    <input type="text" placeholder="Name" class="form-control" value.bind="item.displayName & validate" />
                    <span class="help-block" repeat.for="errorInfo of displayNameErrors">
                        ${errorInfo.error.message}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div validation-errors.bind="emailErrors" class.bind="emailErrors.length ? 'has-error' : ''">
                    <label>Email:</label>
                    <input type="text" placeholder="Email" class="form-control" value.bind="item.email & validate" />
                    <span class="help-block" repeat.for="errorInfo of emailErrors">
                        ${errorInfo.error.message}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Photo Url:</label>
                <input type="text" class="form-control" value.bind="item.photoUrl" placeholder="(Optional)" />
            </div>
            <div class="form-group buttons">
                <button class="btn" disabled.bind="!editable.isIdle" click.delegate="editable.cancelEditMode()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    &nbsp;&nbsp;Cancel
                </button>
                <button class="btn btn-primary" disabled.bind="!editable.canSave || !editable.isIdle" click.delegate="editable.save()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    &nbsp;&nbsp;${buttonText}
                </button>
            </div>
        </div>
    </div>
</template>