<template>
    <require from="./parent-item-part"></require>

    <ul class="list-group">
        <li class="list-group-item" if.bind="editable.items.length === 0">None</li>
        <li class="list-group-item" repeat.for="person of editable.items">
            <parent-item-part item.bind="person" family.bind="family" on-deleted.call="editable.deleted(item)" read-only.bind="readOnly"></parent-item-part>
        </li>
    </ul>
</template>