<template>
    <require from="./student-item-part.css"></require>
    <div class="student-item-part">
        <div class="row" if.bind="!editable.isEditMode">
            <div class="col-md-2">
                <img src="${item.photoUrl}" class="daycare-item-img" />
            </div>
            <div class="col-md-7">
                <div>
                    <a route-href="route: family; params.bind: { id: item.familyId }" if.bind="showLink">
                        <strong>${item.displayName}</strong>
                    </a>
                    <strong if.bind="!showLink">${item.displayName}</strong>
                </div>
                <div>Age: ${item.age}</div>
                <div show.bind="showParents">
                    Parents:
                    <span class="label label-danger" if.bind="item.parents.length === 0">None</span>
                    <span class="label label-default parent-label" repeat.for="person of item.parents">
                        ${person.displayName}
                    </span>
                </div>
                <div show.bind="showClasses">
                    Classes:
                    <span class="label label-danger" if.bind="item.classes.length === 0">None</span>
                    <template repeat.for="class of item.classes">
                        <a class="label label-default" route-href="route: class; params.bind: { id: class.id }">${class.displayName}</a>
                    </template>

                    <button class="btn btn-xs" click.delegate="launchSelectClassesDialog()" title="Change classes" show.bind="user.isAdmin">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-3 buttons" show.bind="!readOnly">
                <button class="btn" disabled.bind="!editable.isIdle" click.delegate="editable.enterEditMode()">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button if.bind="!isEditOnly" class="btn btn-danger" click.delegate="editable.delete()">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="form" show.bind="editable.isEditMode">
            <div class="form-group">
                <div validation-errors.bind="displayNameErrors" class.bind="displayNameErrors.length ? 'has-error' : ''">
                    <label>Name:</label>
                    <input type="text" placeholder="Name" class="form-control" value.bind="item.displayName & validate" />
                    <span class="help-block" repeat.for="errorInfo of displayNameErrors">
                        ${errorInfo.error.message}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div validation-errors.bind="ageErrors" class.bind="ageErrors.length ? 'has-error' : ''">
                    <label>Age:</label>
                    <input type="text" placeholder="Age" class="form-control" value.bind="item.age & validate" />
                    <span class="help-block" repeat.for="errorInfo of ageErrors">
                        ${errorInfo.error.message}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Photo Url:</label>
                <input type="text" class="form-control" value.bind="item.photoUrl" placeholder="(Optional)" />
            </div>
            <div class="form-group buttons">
                <button class="btn" disabled.bind="!editable.isIdle" click.delegate="editable.cancelEditMode()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    &nbsp;&nbsp;Cancel
                </button>
                <button class="btn btn-primary" disabled.bind="!editable.canSave || !editable.isIdle" click.delegate="editable.save()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    &nbsp;&nbsp;${buttonText}
                </button>
            </div>
        </div>
    </div>
    <div ref="dialogHost"></div>

</template>