<template>
    <require from="./student-item-part"></require>

    <ul class="list-group">
        <li class="list-group-item" if.bind="editable.items.length === 0">None</li>
        <li class="list-group-item" repeat.for="person of editable.items">
            <student-item-part item.bind="person" family.bind="family" show-classes.bind="showClasses" read-only.bind="readOnly" on-deleted.call="editable.deleted(item)"></student-item-part>
        </li>
    </ul>
</template>