<template>
    <require from="./teacher-item-part.css"></require>

    <div class="teacher-item-part">
        <div class="row" if.bind="!editable.isEditMode">
            <div class="col-md-2">
                <img src="${item.photoUrl}" class="daycare-item-img" />
            </div>
            <div class="col-md-7">
                <div>
                    <strong>${item.displayName}</strong>
                </div>
                <div>
                    <a href="mailto:${item.email}" class="btn">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        &nbsp;Contact
                    </a>
                </div>
                <div if.bind="showBio">
                    <pre if.bind="item.bio" class="bio">${item.bio}</pre>
                </div>
            </div>
            <div class="col-md-3 buttons" show.bind="!readOnly">
                <button class="btn" disabled.bind="!editable.isIdle" click.delegate="editable.enterEditMode()">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button if.bind="allowDelete" class="btn btn-danger" click.delegate="editable.delete()">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="form" show.bind="editable.isEditMode">
            <div class="form-group">
                <div validation-errors.bind="displayNameErrors" class.bind="displayNameErrors.length ? 'has-error' : ''">
                    <label>Name:</label>
                    <input type="text" class="form-control" value.bind="item.displayName & validate" />
                    <span class="help-block" repeat.for="errorInfo of displayNameErrors">
                        ${errorInfo.error.message}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div validation-errors.bind="emailErrors" class.bind="emailErrors.length ? 'has-error' : ''">
                    <label>Email:</label>
                    <input type="text" class="form-control" value.bind="item.email & validate" />
                    <span class="help-block" repeat.for="errorInfo of emailErrors">
                        ${errorInfo.error.message}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Photo Url:</label>
                <input type="text" class="form-control" value.bind="item.photoUrl" placeholder="(Optional)" />
            </div>
            <div class="form-group">
                <div validation-errors.bind="bioErrors" class.bind="bioErrors.length ? 'has-error' : ''">
                    <label>Bio:</label>
                    <textarea class="form-control" value.bind="item.bio & validate" rows="5"></textarea>
                    <span class="help-block" repeat.for="errorInfo of bioErrors">
                        ${errorInfo.error.message}
                    </span>
                </div>
            </div>
            <div class="form-group buttons">
                <button class="btn" disabled.bind="!editable.isIdle" click.delegate="editable.cancelEditMode()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    &nbsp;&nbsp;Cancel
                </button>
                <button class="btn btn-primary" disabled.bind="!editable.canSave || !editable.isIdle" click.delegate="editable.save()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    &nbsp;&nbsp;${buttonText}
                </button>
            </div>
        </div>
    </div>
</template>