.teacher-item-part .buttons {
    text-align: right;
}

.teacher-item-part .buttons .btn {
    margin-left: 5px;
}

.teacher-item-part .bio {
    overflow: hidden;
    background-color: inherit;
    border: none;
    font-family: inherit;
    white-space: pre-wrap;
}
