<template>
    <require from="./base-dialog.css"></require>
    <require from="../parts/student-item-part"></require>

    <div tabindex="-1" class="modal base-dialog" ref="myDialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        ${model.title}
                        <button type="button" class="close" aria-label="Close" click.delegate="controller.cancel()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </h3>
                </div>
                <div class="modal-body">
                    <student-item-part family.bind="model.family" is-edit-only.bind="true" button-text="Create" on-inserted.call="inserted(item)"
                        on-canceled.call="controller.cancel()"></student-item-part>
                </div>
            </div>
        </div>
    </div>
</template>