<template>
    <require from="./base-dialog.css"></require>

    <div tabindex="-1" class="modal base-dialog" ref="myDialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        Send email to '${model.parent.displayName}'
                        <button type="button" class="close" aria-label="Close" click.delegate="controller.cancel()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <div class="form-group">
                            <div validation-errors.bind="sujectErrors" class.bind="sujectErrors.length ? 'has-error' : ''">
                                <label>Subject:</label>
                                <input type="text" class="form-control" placeholder="Subject [Required]" value.bind="item.subject & validate" />
                                <span class="help-block" repeat.for="errorInfo of sujectErrors">
                                    ${errorInfo.error.message}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div validation-errors.bind="bodyErrors" class.bind="bodyErrors.length ? 'has-error' : ''">
                                <textarea class="form-control" placeholder="Body [Required]" value.bind="item.body & validate"></textarea>
                                <span class="help-block" repeat.for="errorInfo of bodyErrors">
                                    ${errorInfo.error.message}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" click.delegate="controller.cancel()">Close</button>
                    <button type="button" class="btn btn-primary" click.delegate="send()" disabled.bind="!editable.canSave || !editable.isIdle">Send</button>
                </div>
            </div>
        </div>
    </div>
</template>