.select-classes-dialog .class-list,
.select-classes-dialog .btn-container {
    height: 200px
}

.select-classes-dialog .btn-container {
    position: relative;
}

.select-classes-dialog .btn-center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 3px;
}