<template>
    <require from="./base-dialog.css"></require>
    <require from="./select-classes-dialog.css"></require>

    <div tabindex="-1" class="modal base-dialog select-classes-dialog" ref="myDialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        Change classes for '${model.owner.displayName}'
                        <button type="button" class="close" aria-label="Close" click.delegate="controller.cancel()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <select multiple="multiple" class="form-control class-list" value.bind="availableClassIds">
                                <option repeat.for="class of availableClasses" model.bind="class.id">
                                    ${class.displayName}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2 btn-container">
                            <div class="btn-center">
                                <button type="button" class="btn btn-block" click.trigger="add()" disabled.bind="availableClassIds.length === 0">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-block" click.trigger="remove()" disabled.bind="selectedClassIds.length === 0">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <select multiple="multiple" class="form-control class-list" value.bind="selectedClassIds">
                                <option repeat.for="class of selectedClasses" model.bind="class.id">
                                    ${class.displayName}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" click.delegate="done()">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>