<template>
    <require from="./base-dialog.css"></require>
    <require from="./select-persons-dialog.css"></require>

    <div tabindex="-1" class="modal base-dialog select-persons-dialog" ref="myDialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        ${model.title}
                        <button type="button" class="close" aria-label="Close" click.delegate="controller.cancel()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <select multiple="multiple" class="form-control person-list" value.bind="availablePersonIds">
                                <option repeat.for="person of availablePersons" model.bind="person.id">
                                    ${person.displayName}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2 btn-container">
                            <div class="btn-center">
                                <button type="button" class="btn btn-block" click.trigger="add()" disabled.bind="availablePersonIds.length === 0">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-block" click.trigger="remove()" disabled.bind="selectedPersonIds.length === 0">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <select multiple="multiple" class="form-control person-list" value.bind="selectedPersonIds">
                                <option repeat.for="person of selectedPersons" model.bind="person.id">
                                    ${person.displayName}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" click.delegate="done()">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>